body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #1f2937;
    width: 100vw;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    align-items:center;
    list-style: none;
    margin: 0;
    padding-right: 120px;
    gap: 24px;
}

.logo img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items:center;
    gap: 12px;
    padding-left: 120px;
}

.main {
    background-color: #1f2937;
    width: 100vw;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 4px;
    border-radius: 2px;
}

.main .left {
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.sub-text {
    color: #e5e7eb;
}

.main-img {
    padding-right: 120px;
}

.main img {
    width: 320px;
}

.info {
    width: 100vw;
    margin-bottom: 48px;
}

.info-header {
    text-align:center;
    padding: 24px 0;
    font-size: 36px;
    font-weight: 900;
}

.info img {
    width: 100px;
    border-radius: 5%;
}

.info-text {
    text-align: center;
}

.info-container {
    display: flex;
    padding: 0 120px;
    gap: 36px;
    justify-content: space-around;
}

.quote {
    width: 100vw;
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-family: "Roboto Light";
    font-style: italic;
    padding: 48px 180px 0 180px;
}

.quote-author {
    padding: 0 240px 48px 180px;
    font-weight: 900;
    text-align: right;
}

.action {
    width: 100vw;
}

.action-container {
    margin: 60px 120px;
    height: 200px;
    border-radius: 8px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-text {
    color: #f9faf8;
    align-left: 120px;
}

.action-button {
    align-right: 120px;
}

.action button {
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    border-radius: 4px;
    color: #f9faf8;
    padding: 4px;
}

.action-header {
    font-weight: 900;
}

.footer {
    width: 100vw;
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
}
